* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.upper-footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px;
    /* height: 300px; */
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
}
.upper-footer > div {
    width: 24%;
    flex-basis: 200px;
}
.upper-footer > div > div .fa-brands {
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
}
.news-input {
    display: block;
    height: 50px;
    width: 80%;
    border: 0;
    outline: 0;
    padding-left: 10px;
    border-radius: 5px;
}
.news-submit {
    display: block;
    height: 50px;
    width: 80%;
    border: 0;
    outline: 0;
    background-color: yellow;
    margin-top: 10px;
    border-radius: 5px;
}
.lower-footer {
    display: flex;
    background-color: gray;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.lower-footer a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}